<div class="navbar bg-base-100 shadow-lg fixed top-0">
    <div class="flex-1 ml-4">
        <a class="text-neutral-600 font-bold text-xl" href="home.html">ApplicationTracker</a>
    </div>
    <div class="flex flex-1 justify-start space-x-4">
        <a class="text-neutral-400 font-bold" href="home.html">Home</a>
        <a class="text-neutral-400 font-bold" href="applications.html">Applications</a>
        <a class="text-neutral-400 font-bold" href="favourites.html">Favourites</a>
        <a class="text-neutral-400 font-bold" href="logout.html">Logout</a>
    </div>
    <div class="flex-none text-neutral-400 mr-2 font-bold">
        Kgadi Selepe
    </div>
</div>
