<div class="card bg-base-100 w-96 shadow-xl">
    <div class="card-body items-center text-center">
        <i class="fa-brands fa-squarespace text-4xl"></i>
        <h1>Sign Up</h1>
        <form action="">
            <input type="text" placeholder="Full Name" class="input input-bordered w-full max-w-xs mt-2 text-sm" />
            <input type="email" placeholder="Email" class="input input-bordered w-full max-w-xs mt-2" />
            <input type="password" placeholder="Password" class="input input-bordered w-full max-w-xs mt-2" />
            <input type="password" placeholder="Confirm Password" class="input input-bordered w-full max-w-xs mt-2" />
            <button type="submit" class="btn btn-neutral w-full max-w-xs mt-2">Sign Up</button>
        </form>
    </div>
  </div>